*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #12141D;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

body.no-scroll {
    overflow: hidden;
}

.wrapper {
    min-height: calc(100vh - 28.7rem);
}

/* ---SAMPLES--- */
.home__page-about-block-logo {
    width: 7rem;
    height: 7rem;
    background: #1E2028;
    border-radius: 50%;
    text-align: center;
    padding-top: 1.4rem;
}

.home__page-specialization-block {
    width: 35rem;
    height: 35rem;
    background: #1E2028;
    border-radius: 1rem;
}

/* ---CONTAINER--- */
.container {
    width: 100%;
    height: 100%;
    max-width: 114rem;
    margin: 0 auto;
    padding: 3rem 1.5rem;
}

@media (max-width: 1140px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}
/* ---HEADER--- */
.header {
    width: 100%;
    margin-bottom: 3rem;
}

.header-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 4.5rem;
    position: relative;
    z-index: 1100;
}

.header-nav {
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0rem;
}

.header-nav-text {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #fff;
    position: relative;
}

.header-nav-text:after {
    width: 0%;
    height: 0.2rem;
    color: transparent;
    background: #fff;
    content: ".";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -0.3rem auto;
    transition: all 0.5s;
    pointer-events: none;
}

.header-nav-text:hover:after {
    width: 100%;
}

.header-nav-link {
    margin-left: 4rem;
}

.header-nav-link:first-child {
    margin-left: 0rem;
}

.header-burger {
    display: none;
}

.header-mobile {
    display: none;
}

@media (max-width: 992px) {
    .header-nav {
        display: none;
    }

    .header-info .btn__contact {
        display: none;
    }

    .header-title {
        font-size: 3rem;
    }

    .header-mobile {
        display: block;
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.96);
        padding: 15rem 5rem 3rem;
        transition: left 0.4s ease 0s;
        overflow: auto;
    }

    .header-mobile:before {
        content: "";
        position: fixed;
        width: 100%;
        height: 10rem;
        background-color: #12141D;
        top: 0;
        left: -100%;
        z-index: 1000;
        transition: left 0.4s ease 0s;
    }

    .header-mobile .header-mobile-nav {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .header-mobile .header-mobile-nav-link {
        margin-bottom: 5rem;
    }

    .header-mobile .header-mobile-nav-text {
        text-decoration: none;
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 2.1rem;
        color: #fff;
    }

    .header-mobile .btn__contact {
        margin: 0 auto;
    }

    .header-mobile._active {
        left: 0;
    }

    .header-mobile._active:before {
        left: 0;
    }

    .header-burger {
        z-index: 1001;
        display: block;
        position: relative;
        width: 3rem;
        height: 1.8rem;
        cursor: pointer;
        margin: auto 0;
    }

    .header-burger:before, .header-burger:after,
.header-burger span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .header-burger:before, .header-burger:after {
        content: "";
    }

    .header-burger:before {
        top: 0;
    }

    .header-burger:after {
        bottom: 0;
    }

    .header-burger span {
        top: 50%;
        -webkit-transform: scale(1) translate(0px, -50%);
        transform: scale(1) translate(0px, -50%);
    }

    .header-burger._active span {
        -webkit-transform: scale(0) translate(0px, -50%);
        transform: scale(0) translate(0px, -50%);
    }

    .header-burger._active:before {
        top: 50%;
        -webkit-transform: rotate(-45deg) translate(0px, -50%);
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .header-burger._active:after {
        top: 50%;
        -webkit-transform: rotate(45deg) translate(0px, 50%);
        transform: rotate(45deg) translate(0px, 50%);
    }
}

@media (max-width: 767px) {
    .header-title {
        font-size: 2.5rem;
    }
}

.btn__contact {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 15.7rem;
    height: 5.3rem;
    background: #3e2ba8;
    border-radius: 1rem;
    transition: background 0.2s linear;
}

.btn__contact:hover {
    background: #2a1794;
    color: #f3f1f1;
}

.contact__text {
    width: 100%;
    padding: 1.3rem 2.7rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
}

/* ---FOOTER--- */
.footer {
    width: 100%;
    height: 28.7rem;
    border-top: 0.1rem solid #1E2028;
    margin-top: 5rem;
}

.footer-info {
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
}

.footer-icons {
    display: -ms-flexbox;
    display: flex;
}

.footer-agency {
    width: 40%;
}

.footer-logo {
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 1rem;
}

.footer-copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
}

.footer-icons-bg {
    width: 3.2rem;
    height: 3.2rem;
    background: #1E2028;
    border-radius: 50%;
    margin-right: 1rem;
}

.footer-icons-inst {
    padding: 0.7rem;
}

.footer-icons-path {
    padding: 0.7rem;
}

.footer-icons-youtube {
    padding: 1rem 0.7rem;
}

.footer-links {
    color: #fff;
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
}

.footer-title {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.footer-text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
}

.footer-list {
    width: 60%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .footer {
        display: none;
    }
}
/* ---HOME__PAGE-HERO--- */
.home__page-hero {
    width: 100%;
    margin-bottom: 12rem;
}

.home__page-hero-info {
    border-radius: 2rem;
    position: relative;
}

.home__page-hero-img {
    width: 100%;
}

.home__page-hero-text {
    display: block;
    position: absolute;
    bottom: 9rem;
    right: 0;
}

.home__page-hero-title {
    font-weight: 800;
    font-size: 6.1rem;
    line-height: 9.2rem;
    margin-bottom: 1rem;
}

.home__page-hero-subtitle {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.8rem;
    margin-bottom: 3rem;
}

@media (max-width: 1140px) {
    .home__page-hero-text {
        display: block;
        position: absolute;
        bottom: 6rem;
    }

    .home__page-hero-title {
        font-weight: 800;
        font-size: 6rem;
        line-height: 8rem;
    }

    .home__page-hero-subtitle {
        font-weight: 400;
        font-size: 2rem;
        line-height: 4rem;
    }
}

@media (max-width: 992px) {
    .home__page-hero {
        margin-bottom: 9rem;
    }

    .home__page-hero .btn__contact {
        display: none;
    }

    .home__page-hero-title {
        font-weight: 800;
        font-size: 4.5rem;
        line-height: 6rem;
        margin-bottom: 2rem;
    }

    .home__page-hero-subtitle {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 3rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 767px) {
    .home__page-hero {
        margin-bottom: 5rem;
    }

    .home__page-hero-text {
        bottom: 2rem;
        right: 0rem;
    }

    .home__page-hero-title {
        font-weight: 800;
        font-size: 4.5rem;
        line-height: 6rem;
        margin-bottom: 2rem;
    }

    .home__page-hero-subtitle {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 3rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 660px) {
    .home__page-hero-title {
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 0rem;
    }

    .home__page-hero-text {
        left: 2rem;
        bottom: 2rem;
    }
}

@media (max-width: 592px) {
    .home__page-hero-subtitle {
        display: none;
    }
}

@media (max-width: 500px) {
    .home__page-hero-title {
        font-weight: 800;
        font-size: 2rem;
        line-height: 3rem;
    }
}
/* ---HOME__PAGE-ABOUT--- */
.home__page-about {
    width: 100%;
    margin-bottom: 12rem;
}

.home__page-about-title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 7rem;
    margin-bottom: 4rem;
}

.home__page-about-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.home__page-about-block {
    width: 49%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 3rem;
}

.home__page-about-block-logo.home__page-about-block-logo--pd22 {
    padding-top: 2.2rem;
}

.home__page-about-block-logo.home__page-about-block-logo--pd15 {
    padding-top: 1.5rem;
}

.home__page-about-block-logo.home__page-about-block-logo--pd18 {
    padding-top: 1.8rem;
}

.home__page-about-block-logo-text {
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 4.2rem;
    text-transform: capitalize;
    color: #A1C5E9;
}

.home__page-about-block-title {
    width: 41rem;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4.2rem;
    text-transform: capitalize;
    margin-left: 3rem;
}

.home__page-about-block-subtitle {
    width: 44rem;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3rem;
    text-transform: capitalize;
    margin-left: 3rem;
}

.home__page-about-img {
    display: none;
}

@media (max-width: 1140px) {
    .home__page-about-info {
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
    }

    .home__page-about-title {
        text-align: center;
    }

    .home__page-about-img {
        display: block;
        position: absolute;
        right: 0;
        top: 5rem;
    }

    .home__page-about-block-title {
        width: 35rem;
    }

    .home__page-about-block-subtitle {
        width: 36rem;
    }
}

@media (max-width: 992px) {
    .home__page-about {
        margin-bottom: 8rem;
    }

    .home__page-about-img {
        display: none;
    }

    .home__page-about-block {
        width: 100%;
    }

    .home__page-about-block--mb0 {
        margin-bottom: 3rem;
    }

    .home__page-about-title {
        text-align: left;
        font-weight: 800;
        font-size: 4rem;
        line-height: 5rem;
        margin-bottom: 5rem;
    }

    .home__page-about-block-title {
        width: 37rem;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 4.2rem;
    }

    .home__page-about-block-subtitle {
        width: 40rem;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 3rem;
    }
}

@media (max-width: 550px) {
    .home__page-about-block-title {
        width: 100%;
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;
        margin-left: 0rem;
    }

    .home__page-about-block-subtitle {
        width: 100%;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-left: 0rem;
    }

    .home__page-about-title {
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
    }

    .home__page-about-block-logo {
        display: none;
    }
}
/* ---SPECIALIZATION--- */
.home__page-specialization {
    width: 100%;
    margin-bottom: 12rem;
}

.home__page-specialization-title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 8.3rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5rem;
}

.home__page-specialization-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.home__page-specialization-bot {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.home__page-specialization-block {
    position: relative;
}

.home__page-specialization-block-img {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.home__page-specialization-block-info {
    position: absolute;
    top: 11rem;
    left: 2.2rem;
}

.home__page-specialization-block-title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.home__page-specialization-block-subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    -webkit-font-feature-settings: "salt" on, "liga" off;
    font-feature-settings: "salt" on, "liga" off;
    margin-bottom: 5rem;
}

.home__page-specialization-block-read {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.home__page-specialization-block-link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    -webkit-font-feature-settings: "salt" on, "liga" off;
    font-feature-settings: "salt" on, "liga" off;
    color: #A1C5E9;
    text-decoration: none;
    margin-right: 2rem;
}

.home__page-specialization-block-link:hover {
    text-decoration: underline;
}

.home__page-specialization-block-vector {
    width: 1.8rem;
    height: 1.3rem;
}

@media (max-width: 1140px) {
    .home__page-specialization-block {
        width: 30rem;
        height: 30rem;
    }

    .home__page-specialization-block-subtitle {
        display: none;
    }

    .home__page-specialization-block-info {
        top: 12rem;
    }

    .home__page-specialization-block-read {
        margin-top: 8rem;
    }
}

@media (max-width: 992px) {
    .home__page-specialization {
        margin-bottom: 6rem;
    }

    .home__page-specialization-block {
        width: 23rem;
        height: 23rem;
    }

    .home__page-specialization-block-info {
        top: 10rem;
    }

    .home__page-specialization-block-read {
        margin-top: 3rem;
    }

    .home__page-specialization-block-title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;
    }

    .home__page-specialization-title {
        font-weight: 800;
        font-size: 4rem;
        line-height: 5rem;
    }
}

@media (max-width: 767px) {
    .home__page-specialization-top {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .home__page-specialization-bot {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .home__page-specialization-main {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .home__page-specialization-main .home__page-specialization-block {
        margin-bottom: 3rem;
    }

    .home__page-specialization-bot {
        -ms-flex-pack: initial;
        justify-content: initial;
    }
}

@media (max-width: 550px) {
    .home__page-specialization-title {
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
    }

    .home__page-specialization-block {
        width: 12rem;
        height: 12rem;
    }

    .home__page-specialization-block-img {
        display: none;
    }

    .home__page-specialization-block-info {
        top: 2.5rem;
        left: 1.3rem;
    }

    .home__page-specialization-block-read {
        margin-top: 0rem;
    }

    .home__page-specialization-block-read--mt {
        margin-top: 2.5rem;
    }

    .home__page-specialization-block-title {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .home__page-specialization-block-link {
        margin-right: 0.5rem;
    }
}
/* ---HOME__PAGE-PROJECT--- */
.home__page-project {
    width: 100%;
    margin-bottom: 17rem;
}

.home__page-project-info {
    position: relative;
}

.home__page-project-title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 7rem;
    margin-bottom: 5rem;
}

.home__page-project-view {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0rem;
    top: 12rem;
}

.home__page-project-link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    -webkit-font-feature-settings: "salt" on, "liga" off;
    font-feature-settings: "salt" on, "liga" off;
    color: #A1C5E9;
    text-decoration: none;
    margin-right: 2rem;
}

.home__page-project-link:hover {
    text-decoration: underline;
}

.home__page-project-vector {
    width: 1.8rem;
    height: 1.3rem;
}

.home__page-project-examples {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.home__page-project-examples-img {
    width: 49%;
    height: 30.5rem;
    border-radius: 2rem;
}

.home__page-project-examples-img.home__page-project-examples-img--mb3 {
    margin-bottom: 3rem;
}

@media (max-width: 992px) {
    .home__page-project {
        display: none;
    }
}
/* ---HOME__PAGE-FEEDBACk--- */
.home__page-feedback {
    width: 100%;
    margin-bottom: 15rem;
}

.home__page-feedback-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.home__page-feedback-title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 8.3rem;
    margin-bottom: 1rem;
}

.home__page-feedback-subtitle {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.5rem;
    -webkit-font-feature-settings: "salt" on, "liga" off;
    font-feature-settings: "salt" on, "liga" off;
}

.home__page-feedback-block {
    width: 57rem;
    height: 50rem;
    background: #1E2028;
    border-radius: 1rem;
}

.home__page-feedback-quotes {
    margin: 3.7rem 0rem 2rem 45rem;
    opacity: 0.5;
}

.home__page-feedback-profile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 2.6rem;
}

.home__page-feedback-profile-text {
    margin-left: 2rem;
}

.home__page-feedback-profile-name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.home__page-feedback-profile-profession {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.home__page-feedback-text {
    width: 50rem;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3.1rem;
    -webkit-font-feature-settings: "salt" on, "liga" off;
    font-feature-settings: "salt" on, "liga" off;
    margin: 2rem 0rem 0rem 2.6rem;
}

@media (max-width: 992px) {
    .home__page-feedback {
        margin-bottom: 10rem;
    }

    .home__page-feedback-info {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .home__page-feedback-main {
        margin-bottom: 3rem;
    }

    .home__page-feedback-title {
        font-weight: 800;
        font-size: 4rem;
        line-height: 5rem;
    }

    .home__page-feedback-subtitle {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 3rem;
    }
}

@media (max-width: 600px) {
    .home__page-feedback {
        display: none;
    }
}
/* ---HOME__PAGE-GROW--- */
.home__page-grow {
    width: 100%;
    height: 46.5rem;
    background: #1E2028;
    padding: 2rem 0rem;
}

.home__page-grow-title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 8rem;
    text-align: center;
    margin-bottom: 3.6rem;
}

.home__page-grow-contact {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.home__page-grow-benefits {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5rem;
}

.home__page-grow-benefits-block {
    width: 23.9rem;
    display: block;
    border-left: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
    text-align: center;
    padding: 0rem 3.5rem;
    margin-right: 3rem;
}

.home__page-grow-benefits-block:last-child {
    margin-right: 0rem;
}

.home__page-grow-benefits-block-title {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4rem;
    -webkit-font-feature-settings: "salt" on, "liga" off;
    font-feature-settings: "salt" on, "liga" off;
}

.home__page-grow-benefits-block-subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    -webkit-font-feature-settings: "salt" on, "liga" off;
    font-feature-settings: "salt" on, "liga" off;
}

@media (max-width: 992px) {
    .home__page-grow {
        height: 40rem;
        margin-bottom: 2rem;
    }

    .home__page-grow-title {
        font-weight: 800;
        font-size: 4rem;
        line-height: 5rem;
    }

    .home__page-grow-benefits-block-title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 3rem;
    }

    .home__page-grow-benefits-block-subtitle {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2rem;
    }
}

@media (max-width: 600px) {
    .home__page-grow {
        height: 30rem;
    }

    .home__page-grow .home__page-grow-benefits-block-title,
.home__page-grow .home__page-grow-benefits-block-subtitle {
        display: none;
    }

    .home__page-grow-title {
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
    }
}
/* ---ABOUT__PAGE--- */
.about__page {
    width: 100%;
}

.about__line {
    display: block;
    height: 0.1rem;
    width: 70rem;
    content: ".";
    color: transparent;
    background: #fff;
    margin: 9rem auto;
}

.about__line:first-child {
    margin-top: 4rem;
}

.about__line:last-child {
    margin-bottom: 2rem;
}

.about__block1 {
    display: -ms-flexbox;
    display: flex;
}

.about__block2 {
    display: -ms-flexbox;
    display: flex;
    margin-top: 8rem;
}

.about__block3 {
    display: -ms-flexbox;
    display: flex;
    margin-top: 8rem;
}

.block__text {
    width: 50%;
    margin-right: 2rem;
}

.block__text.block__text--ml {
    margin-left: 2rem;
    margin-right: 0rem;
}

.block__img {
    height: 37rem;
}

.block__title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}

.block__subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
}

@media (max-width: 992px) {
    .about__block1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 3rem;
    }

    .about__block2 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .about__block2 .block__img-container {
        -ms-flex-order: 2;
        order: 2;
    }

    .about__block3 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .block__text {
        width: 100%;
        text-align: center;
    }

    .block__title {
        text-align: center;
    }

    .block__subtitle {
        margin-bottom: 3rem;
    }

    .block__img {
        display: block;
        margin: auto;
    }

    .about__line {
        display: none;
    }

    .block__text.block__text--ml {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .block__img {
        display: none;
    }

    .block__img-adaptiv {
        display: none;
    }
}

@media (max-width: 1140px) {
    .block__img-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
/* ---SERVICES__PAGE--- */
.services__page {
    width: 100%;
}

.services__page-title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 3rem;
    text-align: center;
    margin: 3rem 0rem 12rem 0rem;
}

.services__block {
    width: 100%;
    height: 55rem;
    background: #1E2028;
    border-radius: 1rem;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 6rem;
}

.services__block:last-child {
    margin-bottom: 7rem;
}

.services__img {
    width: 32.8rem;
    height: 49.3rem;
    border-radius: 1rem;
    margin: 2.8rem 3rem 3rem 3.5rem;
}

.services__text {
    position: relative;
    padding: 3rem 3rem 3rem 0rem;
}

.services__title {
    text-align: center;
    margin-bottom: 4rem;
}

.services__title-text {
    font-weight: 800;
    font-size: 5rem;
    line-height: 4rem;
    text-decoration: none;
    color: #fff;
}

.services__subtitle-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
}

.services__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}

.services__link-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: none;
    color: #A1C5E9;
    margin-right: 2rem;
}

.services__link-text:hover {
    text-decoration: underline;
}

.services__vector {
    width: 1.8rem;
    height: 1.3rem;
}

@media (max-width: 992px) {
    .services__title-text {
        font-weight: 800;
        font-size: 4rem;
        line-height: 4rem;
    }

    .services__block:last-child {
        margin-bottom: 3rem;
    }
}

@media (max-width: 767px) {
    .services__page-title {
        font-weight: 800;
        font-size: 4rem;
        line-height: 3rem;
        margin-bottom: 8rem;
    }

    .services__block {
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        padding: 2.8rem 3rem 3rem;
    }

    .services__img {
        width: 100%;
        height: 100%;
        -ms-flex-align: center;
        align-items: center;
        margin: 0rem;
    }

    .services__link {
        position: absolute;
        bottom: 3rem;
    }

    .services__text {
        position: initial;
        padding: 0rem;
        margin-top: 3rem;
    }

    .services__title-text {
        font-weight: 800;
        font-size: 4rem;
        line-height: 3rem;
    }

    .services__subtitle-text {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 430px) {
    .services__page-title {
        font-weight: 800;
        font-size: 3.5rem;
        line-height: 2rem;
    }

    .services__subtitle-text {
        display: none;
    }

    .services__text {
        margin-top: 5rem;
    }

    .services__block {
        height: 35rem;
    }

    .services__title-text {
        font-weight: 800;
        font-size: 2.8rem;
        line-height: 2rem;
    }
}
/* ---PROJECTS__PAGE--- */
.projects__page {
    width: 100%;
}

.projects__title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 7rem;
    text-align: center;
    margin: 4rem 0rem 7rem 0rem;
}

.projects__block {
    position: relative;
    margin-bottom: 16rem;
}

.projects__block:last-child {
    margin-bottom: 4rem;
}

.project__site-name {
    font-weight: 800;
    font-size: 4rem;
    line-height: 5.5rem;
    margin-bottom: 3rem;
}

.projects__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 4rem;
}

.projects__link-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: none;
    color: #A1C5E9;
    margin-right: 2rem;
}

.projects__link-text:hover {
    text-decoration: underline;
}

.projects__vector {
    width: 1.8rem;
    height: 1.3rem;
}

.projects__site-img {
    width: 100%;
    border-radius: 1.5rem;
}

@media (max-width: 992px) {
    .project__site-name {
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
    }

    .projects__block:last-child {
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .projects__title {
        font-weight: 800;
        font-size: 3.5rem;
        line-height: 4rem;
        margin-top: 0rem;
    }

    .projects__block {
        margin-bottom: 10rem;
    }
}

@media (max-width: 400px) {
    .projects__title {
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .project__site-name {
        font-weight: 800;
        font-size: 2rem;
        line-height: 3rem;
    }

    .projects__link {
        top: 3rem;
    }
}
/* ---SERVICES__PAGE__SAMPLE-- */
.services__page-content {
    width: 100%;
    margin: 5rem 0rem 7rem 0rem;
}

.services__page-header {
    width: 100%;
    position: relative;
}

.services__page-header-title {
    position: absolute;
    left: 5rem;
    bottom: 10rem;
    font-weight: 800;
    font-size: 8rem;
    line-height: 12rem;
}

.services__page-header-img {
    width: 100%;
    max-height: 73rem;
}

.services__page-main {
    width: 100%;
    margin: 10rem 0rem 15rem 0rem;
}

.services__page-main-title {
    font-weight: 700;
    font-size: 6rem;
    line-height: 9rem;
    text-align: center;
    margin-bottom: 8rem;
}

.services__page-main-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services__page-main-block {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}

.services__page-main-block-img {
    transition: -webkit-transform 4s ease-in-out;
    transition: transform 4s ease-in-out;
    transition: transform 4s ease-in-out, -webkit-transform 4s ease-in-out;
}

.services__page-main-block-img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.services__page-main-block-text {
    width: 100%;
    position: absolute;
    bottom: 3rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.5rem;
    text-align: center;
}

.services__page-main-block--mb75 {
    margin-bottom: 7.5rem;
}

.services__page-footer {
    position: relative;
}

.services__page-footer-img {
    width: 100%;
}

.services__page-footer-info {
    position: absolute;
    top: 18rem;
    left: 5rem;
    z-index: 1;
}

.services__page-footer-text {
    font-weight: 800;
    font-size: 7rem;
    line-height: 8rem;
    margin-bottom: 4rem;
}

.services__page-footer-contact {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 15.7rem;
    height: 5.3rem;
    background: #3e2ba8;
    border-radius: 1rem;
    transition: background 0.2s linear;
}

.services__page-footer-contact:hover {
    background: #2a1794;
    color: #f3f1f1;
}

.services__page-link {
    margin: 0rem 0rem 2rem 1rem;
}

.services__page-link-vector {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    margin-right: 1rem;
}

.services__page-link-text {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    text-decoration: none;
    color: #A1C5E9;
}

.services__page-link-text:hover {
    text-decoration: underline;
}

@media (max-width: 1140px) {
    .services__page-main-block--mb75-adaptiv {
        margin-bottom: 7.5rem;
    }

    .services__page-main-info {
        padding: 0rem 5rem;
    }

    .services__page-main-block-img:hover {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media (max-width: 992px) {
    .services__page-main-info {
        padding: 0rem 0rem;
    }

    .services__page-header-title {
        font-weight: 800;
        font-size: 6rem;
        line-height: 7rem;
    }

    .services__page-main-title {
        font-weight: 700;
        font-size: 4rem;
        line-height: 5rem;
    }

    .services__page-footer-text {
        font-weight: 800;
        font-size: 5rem;
        line-height: 6rem;
    }

    .services__page-content {
        margin: 5rem 0rem 0rem 0rem;
    }
}

@media (max-width: 767px) {
    .services__page-main-info {
        padding: 0rem 2rem;
    }
}

@media (max-width: 750px) {
    .services__page-main-block {
        display: block;
        margin: 0rem auto 5rem;
    }

    .services__page-main-block:last-child {
        margin-bottom: 2rem;
    }

    .services__page-main-info {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .services__page-header-title {
        font-weight: 800;
        font-size: 5rem;
        line-height: 6rem;
    }

    .services__page-main-title {
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .services__page-footer-text {
        font-weight: 800;
        font-size: 4rem;
        line-height: 5rem;
    }

    .services__page-main {
        margin: 10rem 0rem 5rem 0rem;
    }
}

@media (max-width: 700px) {
    .services__page-header-title {
        position: absolute;
        left: 5rem;
        bottom: 10rem;
        font-weight: 800;
        font-size: 4rem;
        line-height: 5rem;
    }

    .services__page-footer-text {
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 600px) {
    .services__page-footer-info {
        position: absolute;
        top: 10rem;
        left: 4rem;
        z-index: 1;
    }
}

@media (max-width: 600px) {
    .services__page-footer-info .btn__contact {
        display: none;
    }

    .services__page-header-title {
        position: absolute;
        left: 5rem;
        bottom: 6rem;
        font-weight: 800;
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .services__page-main-title {
        font-weight: 700;
        font-size: 2.7rem;
        line-height: 3.5rem;
    }
}

@media (max-width: 400px) {
    .services__page-main-info {
        padding: 0rem 0rem;
    }
}

@media (max-width: 380px) {
    .services__page-footer-text {
        font-weight: 800;
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .services__page-footer-info {
        position: absolute;
        top: 7rem;
        left: 2rem;
        z-index: 1;
    }

    .services__page-header-title {
        left: 3rem;
        bottom: 5rem;
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
    }

    .services__page-main-title {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .services__page-main-block {
        width: 25rem;
        height: 25rem;
    }

    .services__page-main-block-text {
        font-weight: 800;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .services__page-main-block-img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 300px) {
    .services__page-main-block {
        width: 23rem;
        height: 23rem;
    }
}
/* ---SERVICES__ANALYTICS-- */
.services__analytics-task {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 5.3rem;
    margin-top: 10rem;
}

.services__analytics-report {
    font-weight: 800;
    font-size: 5rem;
    line-height: 7.5rem;
    margin-top: 8rem;
    position: relative;
}

.services__analytics-report:after {
    margin-top: 1rem;
    display: block;
    height: 0.1rem;
    width: 45rem;
    content: ".";
    color: transparent;
    background: #fff;
    opacity: 0.5;
}

.services__analytics-result {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 4.5rem;
    margin-top: 6rem;
}

.services__analytics-img {
    width: 100%;
    margin-top: 8rem;
}

.services__analytics-kpi {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 5.3rem;
    margin-top: 8rem;
}

@media (max-width: 992px) {
    .services__analytics-task {
        font-weight: 700;
        font-size: 3rem;
        line-height: 4rem;
    }

    .services__analytics-report {
        font-weight: 800;
        font-size: 4rem;
        line-height: 5rem;
    }
}

@media (max-width: 767px) {
    .services__analytics-task {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin-top: 7rem;
    }

    .services__analytics-report {
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
    }

    .services__analytics-result {
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 4rem;
    }

    .services__analytics-kpi {
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 4rem;
    }
}

@media (max-width: 500px) {
    .services__analytics-report:after {
        margin-top: 1rem;
        display: block;
        height: 0.1rem;
        width: 30rem;
        content: ".";
        color: transparent;
        background: #fff;
        opacity: 0.5;
    }

    .services__analytics-task {
        font-weight: 700;
        font-size: 2rem;
        line-height: 3rem;
    }

    .services__analytics-report {
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .services__analytics-result {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
    }

    .services__analytics-kpi {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media (max-width: 380px) {
    .services__analytics-report:after {
        margin-top: 1rem;
        display: block;
        height: 0.1rem;
        width: 20rem;
        content: ".";
        color: transparent;
        background: #fff;
        opacity: 0.5;
    }
}
/* ---SERVICES__ANALYTICS-- */
.services__design-concept {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 5.3rem;
    margin-top: 10rem;
}

.services__design-img {
    width: 100%;
    margin-top: 5rem;
}

.services__design-specialists {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 5.3rem;
    margin-top: 5rem;
    position: relative;
}

.services__design-specialists:after {
    display: block;
    height: 0.2rem;
    width: 10rem;
    content: ".";
    color: transparent;
    background: #fff;
    margin-top: 6rem;
}

.services__design-system {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 5.3rem;
    margin-top: 6rem;
}

@media (max-width: 992px) {
    .services__design-concept {
        font-weight: 700;
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media (max-width: 767px) {
    .services__design-concept {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .services__design-specialists {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .services__design-system {
        font-weight: 700;
        font-size: 2rem;
        line-height: 4rem;
    }
}

@media (max-width: 500px) {
    .services__design-concept {
        font-weight: 700;
        font-size: 2rem;
        line-height: 3rem;
    }

    .services__design-specialists {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3.5rem;
    }

    .services__design-system {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 4rem;
    }
}
/* ---SERVICES__MOBILE-APPS-- */
.services__mobile-title {
    font-weight: 800;
    font-size: 4rem;
    line-height: 6rem;
    text-align: center;
    margin-bottom: 13rem;
}

.services__mobile-info {
    width: 100%;
    text-align: center;
}

.services__mobile-img {
    width: 100%;
}

@media (max-width: 992px) {
    .services__mobile-title {
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 10rem;
    }
}

@media (max-width: 767px) {
    .services__mobile-title {
        font-weight: 800;
        font-size: 2.2rem;
        line-height: 4rem;
        margin-bottom: 7rem;
    }
}
/* ---SERVICES__SEO-- */
.services__seo-experience {
    font-weight: 400;
    font-size: 3rem;
    line-height: 4.5rem;
    text-align: center;
    margin-top: 10rem;
}

@media (max-width: 992px) {
    .services__seo-experience {
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

@media (max-width: 767px) {
    .services__seo-experience {
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 3.5rem;
        text-align: left;
        margin-top: 7rem;
    }
}
/* ---SERVICES__ANALYTICS-- */
.services__commerce-title {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 6.8rem;
    text-align: center;
    margin-top: 10rem;
}

.services__commerce-cards {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 7.5rem;
}

.services__commerce-block {
    width: 49rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

.services__commerce-text {
    width: 100%;
    font-weight: 800;
    font-size: 6rem;
    line-height: 9rem;
    text-align: center;
    position: absolute;
    bottom: 13rem;
}

.services__commerce-button {
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s linear, -webkit-transform 1s linear;
    transition: opacity 0.2s linear, transform 1s linear;
    transition: opacity 0.2s linear, transform 1s linear, -webkit-transform 1s linear;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 6rem;
    left: 22.3rem;
    z-index: 101;
}

.services__commerce-button:hover {
    opacity: 1;
}

.services__commerce-button._commerce-active {
    -webkit-transform: translateY(35px) rotate(180deg);
    transform: translateY(35px) rotate(180deg);
}

.services__commerce-block-clicked {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1E2028;
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 100;
    padding: 2.5rem 2.5rem;
    transition: left 1s ease-in-out;
}

.services__commerce-block-clicked._commerce-active {
    left: 0;
}

.services__commerce-block-clicked-text {
    font-weight: 600;
    font-size: 2rem;
    line-height: 4rem;
}

@media (max-width: 1140px) {
    .services__commerce-text {
        font-weight: 800;
        font-size: 5rem;
        line-height: 7rem;
    }

    .services__commerce-cards {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 540px) {
    .services__commerce-block {
        width: 35rem;
        height: 35rem;
    }

    .services__commerce-button {
        left: 15rem;
    }

    .services__commerce-text {
        font-weight: 800;
        font-size: 4rem;
        line-height: 6rem;
    }

    .services__commerce-block-clicked-text {
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 3rem;
    }
}

@media (max-width: 410px) {
    .services__commerce-block {
        width: 30rem;
        height: 30rem;
    }

    .services__commerce-button {
        left: 13rem;
    }

    .services__commerce-block-clicked-text {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .services__commerce-block-clicked {
        padding: 2rem 2rem;
    }
}

@media (max-width: 350px) {
    .services__commerce-block {
        width: 25rem;
        height: 25rem;
    }

    .services__commerce-button {
        left: 10rem;
    }

    .services__commerce-block-clicked-text {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .services__commerce-block-clicked {
        padding: 1.8rem 1.8rem;
    }
}
/* ---PRICE-- */
.price__page {
    width: 100%;
    margin: 9rem 0rem 7rem 0rem;
}

.price__page-title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 4.5rem;
    text-align: center;
    margin-bottom: 9rem;
}

.price__page-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 16rem;
}

.price__page-block.price__page-block-mb5 {
    margin-bottom: 5rem;
}

.price__page-text-from {
    font-weight: 400;
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 15rem 0rem 0rem 5rem;
}

.price__page-text-price {
    font-weight: 800;
    font-size: 9rem;
    line-height: 4.5rem;
    margin: 5rem 0rem 0rem 15rem;
}

.price__page-card {
    width: 58rem;
    height: 72rem;
    position: relative;
}

.price__page-card-img {
    width: 100%;
    height: 100%;
}

.price__page-card-title {
    width: 38rem;
    height: 14rem;
    font-weight: 800;
    font-size: 8rem;
    line-height: 7.5rem;
    position: absolute;
    top: 33rem;
    left: 3.5rem;
}

.price__page-card-subtitle {
    width: 47rem;
    height: 13rem;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.5rem;
    position: absolute;
    bottom: 4rem;
    left: 3.5rem;
}

.price__page-dollars {
    font-weight: 400;
    font-size: 3rem;
    line-height: 4.5rem;
}

@media (max-width: 992px) {
    .price__page {
        margin-bottom: 3rem;
    }

    .price__page-text-from {
        font-weight: 400;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .price__page-text-price {
        font-weight: 800;
        font-size: 5rem;
        line-height: 3rem;
    }

    .price__page-card-title {
        width: 38rem;
        height: 14rem;
        font-weight: 800;
        font-size: 6rem;
        line-height: 5rem;
    }

    .price__page-card-subtitle {
        width: 37rem;
        height: 13rem;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .price__page-dollars {
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
}

@media (max-width: 767px) {
    .price__page-block {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 10rem;
    }

    .price__page-card {
        width: 100%;
        height: 100%;
    }

    .price__page-card-img {
        position: relative;
    }

    .price__page-card-title {
        width: 30rem;
        font-weight: 800;
        font-size: 4.5rem;
        line-height: 4rem;
        position: initial;
        margin-top: 5rem;
    }

    .price__page-card-subtitle {
        width: 30rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 3rem;
        position: initial;
    }

    .price__page-text-from {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        margin: 0rem;
    }

    .price__page-text-price {
        font-weight: 800;
        font-size: 4rem;
        line-height: 2.5rem;
        margin: 0rem;
    }

    .price__page-text {
        -ms-flex-order: 2;
        order: 2;
        text-align: right;
    }

    .price__page-text-price {
        margin-top: 2rem;
    }
}

@media (max-width: 340px) {
    .price__page-card-title {
        width: 25rem;
    }

    .price__page-card-subtitle {
        width: 25rem;
    }
}